<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Nexmo_Nexmosms>
            <version>0.0.1</version>
        </Nexmo_Nexmosms>
    </modules>
	<global>
		<blocks>
         <nexmosms>
              <class>Nexmo_Nexmosms_Block</class>
         </nexmosms>
		</blocks>
		<models>
            <nexmosms>
                <class>Nexmo_Nexmosms_Model</class>
            </nexmosms>
        </models>
        <helpers>
            <nexmosms>
                <class>Nexmo_Nexmosms_Helper</class>
            </nexmosms>
        </helpers>
		<events>
			<sales_order_place_after>
				<observers>
					<Nexmo_Nexmosms_Model_Observer>
						<type>singleton</type>
						<class>Nexmo_Nexmosms_Model_Observer</class>
						<method>orderPlacedAfter</method>
					</Nexmo_Nexmosms_Model_Observer>
				</observers>
			</sales_order_place_after>
			<sales_order_place_before>
				<observers>
					<Nexmo_Nexmosms_Model_Observer>
						<type>singleton</type>
						<class>Nexmo_Nexmosms_Model_Observer</class>
						<method>orderPlacedBefore</method>
					</Nexmo_Nexmosms_Model_Observer>
				</observers>
			</sales_order_place_before>
			<order_cancel_after>
				<observers>
					<Nexmo_Nexmosms_Model_Observer>
						<type>singleton</type>
						<class>Nexmo_Nexmosms_Model_Observer</class>
						<method>orderCancelAfter</method>
					</Nexmo_Nexmosms_Model_Observer>
				</observers>
			</order_cancel_after>
			<sales_order_invoice_save_after>
				<observers>
					<Nexmo_Nexmosms_Model_Observer>
						<type>singleton</type>
						<class>Nexmo_Nexmosms_Model_Observer</class>
						<method>invoiceSaveAfter</method>
					</Nexmo_Nexmosms_Model_Observer>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_shipment_save_after>
				<observers>
					<Nexmo_Nexmosms_Model_Observer>
						<type>singleton</type>
						<class>Nexmo_Nexmosms_Model_Observer</class>
						<method>shipmentSaveAfter</method>
					</Nexmo_Nexmosms_Model_Observer>
				</observers>
			</sales_order_shipment_save_after>
		</events>
	</global>
	<frontend>
        <routers>
            <nexmosms>
                <use>standard</use>
                <args>
                    <module>Nexmo_Nexmosms</module>
                    <frontName>nexmosms</frontName>
                </args>
            </nexmosms>
        </routers>   
    </frontend>
	<layout>
		<updates>
			<test_layout>
			<file>test_layout.xml</file>
			</test_layout>
		</updates>
	</layout>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<nexmosms_section translate="title" module="nexmosms">
                                        <title>Nexmosms</title>
                                        <sort_order>999</sort_order>
										</nexmosms_section>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>