<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <nexmosms_tab module="nexmosms" translate="label">
            <label>Magento with Nexmo SMS Settings</label>
            <sort_order>100</sort_order>
        </nexmosms_tab>
    </tabs>
    <sections>
        <nexmosms_section module="nexmosms" translate="label">
            <label>Nexmo Configuration</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>nexmosms_tab</tab>
            <groups>
                <nexmosms_group translate="label" module="nexmosms">
                    <label>Nexmo SMS API</label>
                    <comment></comment>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <nexmo_api_key translate="label tooltip comment">
                            <label>Nexmo Key</label>
                            <comment></comment>
                            <tooltip>Enter your Nexmo API Key</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<sort_order>1</sort_order>
                            <frontend_type>text</frontend_type>
                        </nexmo_api_key>
                        <nexmo_api_secret translate="label tooltip comment">
                            <label>Nexmo Secret</label>
                            <tooltip>Enter your Nexmo Secret</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<sort_order>2</sort_order>
                            <frontend_type>text</frontend_type>
                        </nexmo_api_secret>
						<nexmo_from_number translate="label tooltip comment">
                            <label>From Number</label>
                            <tooltip>Enter your Nexmo From number</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<sort_order>3</sort_order>
                            <frontend_type>text</frontend_type>
                        </nexmo_from_number>
						<nexmo_threshold translate="label tooltip comment">
                            <label>Threshold Amount</label>
                            <tooltip>Amount of orders above which SMS will be triggered.</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<sort_order>4</sort_order>
                            <frontend_type>text</frontend_type>
                        </nexmo_threshold>
						<nexmo_enable_sms translate="label tooltip comment">
                            <label>Enable SMS</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </nexmo_enable_sms>
                    </fields>
                </nexmosms_group>
				<nexmoshop_group translate="label" module="nexmosms">
                    <label>Events Settings - Shop Owner</label>
                    <comment>Configure events on which SMSs to be sent to shop owner.</comment>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<shop_creation translate="label tooltip comment">
                            <label>Order Creation</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </shop_creation>
						<shop_cancel translate="label tooltip comment">
                            <label>Order Cancel</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </shop_cancel>
						<shop_invoice translate="label tooltip comment">
                            <label>Invoice Generation</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </shop_invoice>
						<shop_ship translate="label tooltip comment">
                            <label>Order Complete</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </shop_ship>
					</fields>
				</nexmoshop_group>
				<nexmocustomer_group translate="label" module="nexmosms">
                    <label>Events Settings - Customer</label>
                    <comment>Configure events on which SMSs to be sent to customer.</comment>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<cust_creation translate="label tooltip comment">
                            <label>Order Creation</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </cust_creation>
						<cust_cancel translate="label tooltip comment">
                            <label>Order Cancel</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </cust_cancel>
						<cust_invoice translate="label tooltip comment">
                            <label>Invoice Generation</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </cust_invoice>
						<cust_ship translate="label tooltip comment">
                            <label>Order Complete</label>
							<comment></comment>
                            <tooltip>Select "Yes" to enable SMS</tooltip>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </cust_ship>
					</fields>
				</nexmocustomer_group>
            </groups>
        </nexmosms_section>
    </sections>  
</config>